<nav class="navbar">
  <div class="navbar-left">
    <span class="logo">code<span class="logo-light">Help</span></span>

    <a routerLink="/problems" routerLinkActive="active">Задачи</a>
    <a routerLink="/forum" routerLinkActive="active">Форум</a>
  </div>

  <div class="navbar-right">
    @if (authService.isLoggedIn()) {
      <span class="username">{{ authService.getUsername() }}</span>
      <button class="login-btn" (click)="logout()">Выйти</button>
    } @else {
      <a routerLink="/login" class="login-btn">Войти</a>
    }
  </div>
</nav>

